//
// CSS Intrinsic Ratio Hack
//
// http://andyshora.com/css-image-container-padding-hack.html
//

.o-ratio {
  display: block;
  position: relative;
	height: 0;
  margin: 0;
  padding: 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

	img {
    position: absolute;
		display: block;
		width: 100%;
    height: auto;
    max-width: none;
	}

  &--bg {
    background-color: rgba($black, .125);
  }

  &--square {
    padding-bottom: 100%;
  }

  &--hero {
    padding-bottom: 45%;
  }

  &--4-3 {
    padding-bottom: 75%;
  }

  &--16-9 {
    padding-bottom: 56.25%;
  }

  // Centers & contains image within defined ratio
  &--center {
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }

}
